@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --osuPink: #FF66AA;
    --inputSpacing: 0.5rem;
    --transitionDuration: 100ms;
    --myGrey: #333;
    --radius: 1rem;
    --border-width: 10px;
    --spacing: 1rem;
}

html, body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--myGrey);
    background-image: url("osubackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    margin: 0;
}

#content {
    width: 80%;
}

.nav-navbar-nav {
    background-color: var(--myGrey);
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.nav-navbar-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid white
}
  
  /* Change the color of links on hover */
.nav-navbar-nav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.nav-navbar-nav a.active {
    background-color: var(--osuPink);
    color: white;
}