@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --osu-pink: #FF66AA;
}

body  
{          
    box-sizing: border-box; /*Not necessary in this situation*/
    display: block; /*Not necessary, but we do want it this way*/
    width: 100vw;  /*Not necessary, but we do want it this way*/
    height: 100vh; /*Necessary.  100vh = 100% of the viewport height*/
    padding: 0; /* No padding */
    margin: 0; /* No margins */
    display: flex;
    justify-content: center;
    background: url('osubackground.jpg') no-repeat center center;  
    /* Shorthand: image, repeat, X align, Y align. */
    background-size: cover; /* Cover all available space*/
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
        
}  
.login{  
    width: 360px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: var(--osu-pink);  
    border-radius: 15px ; 
              
}  
h1{  
    text-align: center;  
    color: white;
    font-size: 64px;  
    padding: 20px;  
}  
label{  
    color: white;  
    font-size: 17px;  
}  
#accbutton{
    background-color: white;
    border-radius: 3px;
    padding: 10px 10px; 
    text-decoration: none;
}
#Uname{  
    width: 290px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#submit{
    background-color: white;
    border-radius: 3px;
    padding: 10px 10px; 
    text-decoration: none;
    font-family: 'Rubik', 'sans serif';
}
#Pass{  
    width: 290px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
        
}  
#Email{  
    width: 290px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
        
} 

#log{  
    width: 300px;  
    height: 30px;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
    
}  

span{  
    color: white;  
    font-size: 17px;  
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}
    
/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 8px 26px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: var(--osu-pink);
color: white;
}
