body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

#username {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: #222;
    border-radius: var(--border-width);
}
#colorbar {
    position: relative;
    content: "";
    height: 10px;
    width: 100%;
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    border-radius: var(--border-width);
    animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#stats{
    background-color: var(--myGrey);
    padding: var(--spacing);
    border-radius: var(--border-width);
}

.score-table, #user-title, .placeholder, .table-name {
    color: white
}

.score-table{
    border-radius: var(--border-width);
    overflow: hidden;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.score-table thead tr {
    background-color: var(--osuPink);
    color: #ffffff;
    text-align: left;
}

.score-table th, .score-table td{
    padding: 12px 15px;
}

.score-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.score-table tbody tr:nth-of-type(even) {
    background-color: #222;
}

.score-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--osuPink);
}

#comment-section {
    background-color: var(--myGrey);
    border-radius: var(--border-width);
}

#comment-header, #posting {
    padding: 0;
    margin: 0;
}

#comment-form {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;    
    background: #222;
    padding: var(--spacing);
    margin-top: var(--spacing);
    color: white;
    border-radius: var(--border-width);
}

#comment-text {
    outline: none;
    border: 2px solid white;
    border-radius: var(--radius);
    padding: var(--inputSpacing);
    margin-top: var(--inputSpacing);
    margin-bottom: var(--inputSpacing);
    width: 90%;
    transition: var(--transitionDuration);
}

#comment-text:focus {
    border: 2px solid var(--myGrey);
}

#submit {
    outline: none;
    border: 2px solid white;
    border-radius: var(--radius);
    padding: var(--inputSpacing);
}
#submit:hover {
    border: 2px solid grey;
}
#submit:active {
    border: 2px solid black;
}

.comment {
    padding: var(--spacing);
    max-width: 155vh;
    background: #6bb2d7;
    border-radius: var(--border-width);
    text-align: left;
    word-wrap: break-word;
}

.score-table th {
    cursor: pointer;
}

.score-table .th-sort-asc::after {
content: "\25b4";
}

.score-table .th-sort-desc::after {
content: "\25be";
}

.score-table .th-sort-asc::after,
.score-table .th-sort-desc::after {
margin-left: 5px;
}

.score-table .th-sort-asc,
.score-table .th-sort-desc {
background: rgba(0, 0, 0, 0.1);
}
