body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;    
    height: 100vh;
    background-image: url("osubackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

h1.title{
    position: fixed;
    top: 0;
    left:5;
    font-size: 64px;
    color: white;
    font-weight: bold;
}

.user_input {
    outline: none;
    border: 2px solid white;
    border-radius: var(--radius);
    padding: var(--inputSpacing);
    margin: var(--inputSpacing);
    width: 50%;
    transition: var(--transitionDuration);
}

.user_input:focus {
    border: 2px solid var(--myGrey);
}

.submit {
    outline: none;
    border: 2px solid white;
    border-radius: var(--radius);
    padding: var(--inputSpacing);

}
.submit:hover {
    border: 2px solid grey;
}
.submit:active {
    border: 2px solid black;
}

.get_user{
    width: 20rem;  
    overflow: hidden;  
    margin: auto;
    padding: 3rem;
    background: var(--osuPink);  
    border-radius: var(--radius);  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=text]{
    -moz-appearance: textfield;
}

.text{
    color: white;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


  