<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>osu!keep</title>
        <link rel="stylesheet" href="../static/base.css">
        {% block link %}
        {% endblock %}
    </head>
    <body>

        <div class="topnav">
            <!-- class="active" is the attribute that makes the nav pink, maybe use javascript to fix it -->
            <a href="index.html">Home</a>
            <a href="aboutus.html">About Us</a>
            {% if login['logged_in'] %}
            <a id='me' href="/u/{{ login['user_id'] }}" class="nav-link">{{ login['user_name'] }}</a> |
            <a id='logout' href="/logout" class="nav-link">logout</a>
            {% else %}
            <b><a id='login' href='/login' class="login-button">login</a></b>
            {% endif %}
        </div> 

        {% block content %}
        {% endblock %}

    </body>

    {% block script %}
    {% endblock %}

</html>