<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>osu!keep</title>
        <link rel="stylesheet" href="../static/base.css">
        {% block link %}
        {% endblock %}
    </head>
    <body>

        <div class="topnav">
            <!-- class="active" is the attribute that makes the nav pink, maybe use javascript to fix it -->
            <a href="index.html">Home</a>
            <a href="aboutus.html">About Us</a>
            <a href="login.html">Login</a>
        </div> 

        {% block content %}
        {% endblock %}

    </body>

    {% block script %}
    {% endblock %}

</html>