{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/login_style.css">

<h1 class="title">osu!keep</h1>

<div class="sign up">        
    <form id="sign up" method="get" action="login.php">  
        <label><b>Email Address</b><br>    
        </label>    
        <input type="email" name="Email" id="Email" placeholder="Email Address">    
        <br><br>    
        <label><b>Osu! User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password</b><br>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit" id="submit" value="Submit">       
        <br><br>    
    </form>     
</div>
{% endblock %}