{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="../static/loading_screen.css">
{% endblock %}
{% block content %}

<div id="loading-screen">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

<h1 class="title">osu!keep</h1>

<div class="get_user">
    <form method="get" action="/get-scores">
        <input class="user_input" type="text" name="user_key_field" placeholder="Username or User ID" min="0">
        <input class="submit" type="submit" value="Go">
    </form>
</div>
{% endblock %}
{% block script %}
<script src="../static/script.js"></script>
{% endblock %}