{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="../static/login_style.css">
<h1 class="title">osu!keep</h1>
<div class ='login'>

{% if login['logged_in'] %}
<h2 class= "text">You are Signed In!</h2>
<a id='me' href="/u/{{ login['user_id'] }}" class="nav-link">{{ login['user_name'] }}</a> |
<a id='logout' href="/logout" class="nav-link">logout</a>

{% else %}
<b><a id='login' href='/login' class="login-button">Log In With Your Osu Account</a></b>
{% endif %}

{% endblock %}
</div>
