{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/login_style.css">

<h1 class="title">osu!keep</h1>

<div class="login">        
    <form id="login" method="post" action="/dologin">  
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="username" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password</b><br>    
        </label>    
        <input type="Password" name="password" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit" name="log" id="log" value="Log In">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        <a name="accbutton" id="accbutton" href="createaccount.html"> Register</a>  
        <br><br>  
    </form>     
</div>
{% endblock %}
