{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="../static/profile.css">
{% endblock %}
{% block content %}

<div id="username">
    <div id="colorbar"></div>
    <h1 id="user-title" data-user="{{user_id}}">{{username}}</h1>
</div>


<div id="stats">
    <table class="score-table">
        <h3 class="table-name">Top Scores</h3>
        <thead>
            <tr>
                <td>#</td>
                <th class='header-sortable'>Rank</th>
                <th class='header-sortable'>Beatmap</th>
                <th class='header-sortable'>Acc</th>
                <td>Combo</td>
                <th class='header-sortable'>PP</th>
            </tr>
        </thead>
        <tbody id="score-table-body">
            <tr>
                <td><h4 class="placeholder">Loading...</h4></td>
            </tr>
        </tbody>
    </table>

    <table class="score-table">
        <h3 class="table-name">Recent Scores (24h)</h3>
        <thead>
            <tr>
                <td>#</td>
                <th class='header-sortable'>Rank</th>
                <th class='header-sortable'>Beatmap</th>
                <th class='header-sortable'>Acc</th>
                <td>Combo</td>
                <th class='header-sortable'>PP</th>
            </tr>
        </thead>
        <tbody id="recent-table-body">
            <tr>
                <td><h4 class="placeholder">Loading...</h4></td>
            </tr>
        </tbody>
    </table>
        
</div>

<div id="comment-section">
    <div id="comment-form"></div>

    <table id="comments" cellspacing="5">
        <tbody>
            <tr>
                <td><h4 class="placeholder">Loading...</h4></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
{% block script %}
<script src="../static/profile.js"></script>
{% endblock %}