{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="../static/profile.css">
{% endblock %}
{% block content %}

<div id="username">
    <div id="colorbar"></div>
    <h1 id="user-title" data-user="{{user_id}}">{{username}}</h1>
</div>


<div id="stats">
    <table class ="score-table">
        <thead>
            <tr>
                <td>#</td>
                <td>Rank</td>
                <td>Beatmap</td>
                <td>Acc</td>
                <td>Combo</td>
                <td>PP</td>
            </tr>
        </thead>
        <tbody id="score-table-body">
            <tr>
                <td><h4 class="placeholder">Loading...</h4></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="comment-section">
    <div id="comment-form">
        <h3 id="comment-header">Comments</h3>
        <form onsubmit="postComment();return false;">
            <input id="comment-text" type="text" name="text" placeholder="add a public comment...">
            <input id="submit" type="submit" value="Post">
        </form>
        <h4 id="posting"></h4>
    </div>

    <table id="comments" cellspacing="5">
        <tbody>
            <tr>
                <td><h4 class="placeholder">Loading...</h4></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
{% block script %}
<script src="../static/profile.js"></script>
{% endblock %}